<div class="h-full flex flex-col lg:flex-row">
  <!-- content planet -->
  <section class="flex-1 flex items-center justify-center relative">
    <!-- max-h-[10rem] sm:max-h-[20rem] lg:max-w-full lg:max-h-full lg:mb-[7rem] -->
    <img
      *ngIf="currentPlanet"
      [src]="currentPlanet.images.png"
      class="absolute max-w-full max-h-full"
      alt=""
    />
  </section>

  <!-- content descriptions and menu -->
  <section
    *ngIf="currentPlanet"
    class="flex-1 flex flex-col justify-center items-center lg:items-start"
  >
    <!-- menu -->
    <ul
      class="xl:basis-[3rem] flex mx-auto gap-4 lg:mx-0 flex-wrap items-center"
    >
      <li
        #planetsLi
        class="text-white pb-2 uppercase text-[navText] tracking-navText hover:cursor-pointer"
        *ngFor="let planet of navPlanets"
        (click)="sendEvent(planet.name)"
      >
        {{ planet.name }}
      </li>
    </ul>
    <!-- descriptions -->
    <div
      class="xl:mb-10 text-center lg:text-start border-b-[1px] border-whiteMoon/20 mx-8 pb-10 xl:mx-0"
    >
      <h2 class="lg:text-heading2 sm:text-[5rem] text-[3rem] font-bellefair">
        {{ currentPlanet.name | uppercase }}
      </h2>
      <p
        class="sm:max-w-[35rem] lg:max-w-[26rem] font-barlow -tracking-[.5px] mx-auto lg:m-0 lg:text-parrafo"
      >
        {{ currentPlanet.description }}
      </p>
    </div>
    <!-- box stadistics -->
    <div
      class="flex flex-col sm:gap-5 sm:flex-row w-auto lg:items-start uppercase text-center xl:text-start"
    >
      <div class="flex-2 flex flex-col mt-8">
        <h5 class="text-subheading2">{{ "avg. distance" | uppercase }}</h5>
        <h5 class="text-h5 text-subheading1">{{ currentPlanet.distance }}</h5>
      </div>
      <div class="flex-1 flex flex-col mt-8">
        <h5 class="text-subheading2">{{ "est. travel time" | uppercase }}</h5>
        <h5 class="text-h5 text-subheading1">{{ currentPlanet.travel }}</h5>
      </div>
    </div>
    <!--  -->
  </section>
</div>
