<div class="h-full flex flex-col lg:flex-row">
  <!-- content planet -->
  <section class="md:flex-1 flex items-center justify-center">
    <img
      *ngIf="currentPlanet"
      [src]="currentPlanet.images.png"
      class="max-h-[10rem] sm:max-h-[20rem] lg:max-w-full lg:max-h-full lg:mb-[7rem]"
      alt=""
    />
  </section>

  <!-- content descriptions and menu -->
  <div class="flex-1 flex flex-col shrink lg:mt-12 mt-5">
    <!-- menu -->
    <ul class="flex mx-auto lg:mx-0 flex-wrap">
      <li
        class="text-white mx-1 xs:mx-2 lg:mx-3 uppercase text-navText tracking-navText hover:cursor-pointer"
        *ngFor="let planet of navPlanets"
        (click)="sendEvent(planet.name)"
      >
        {{ planet.name }}
      </li>
    </ul>
    <!-- descriptions -->
    <section
      *ngIf="currentPlanet"
      class="grow text-center lg:text-start mx-auto w-full p-5 flex flex-col"
    >
      <!--  -->
      <div class="flex-1">
        <h2 class="lg:text-heading2 sm:text-[5rem] text-[4rem] font-bellefair">
          {{ currentPlanet.name | uppercase }}
        </h2>
        <p
          class="sm:max-w-[35rem] lg:max-w-[26rem] font-barlow -tracking-[.5px] mx-auto lg:m-0 lg:text-parrafo mb-[3.5rem]"
        >
          {{ currentPlanet.description }}
        </p>
      </div>

      <!-- box stadistics -->
      <div
        class="flex-1 flex flex-col sm:flex-row lg:items-start border-t-[1px] border-whiteMoon/20 uppercase"
      >
        <div class="flex-1 flex flex-col mt-8">
          <h5 class="text-subheading2">{{ "avg. distance" | uppercase }}</h5>
          <h5 class="text-subheading1">{{ currentPlanet.distance }}</h5>
        </div>
        <div class="flex-1 flex flex-col mt-8">
          <h5 class="text-subheading2">{{ "est. travel time" | uppercase }}</h5>
          <h5 class="text-subheading1">{{ currentPlanet.travel }}</h5>
        </div>
      </div>
      <!--  -->
    </section>
  </div>
</div>
