<nav class="text-whiteMoon font-barlow">
  <div
    class="flex flex-wrap items-center justify-between p-4"
  >
    <a href="#" class="flex items-center h-10 mr-3">
      <img
        src="assets/shared/logo.svg"
        class="w-full h-full"
        alt="Flowbite Logo"
      />
    </a>
    <button
      data-collapse-toggle="navbar-dropdown "
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg lg:hidden focus:outline-none focus:ring-2"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <!-- hamburguer menu -->
      <svg
        class="w-10 h-10 fill-whiteMoon"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="blue"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="hidden w-full lg:block lg:w-auto sm:pl-[10rem%] xl:pl-[15%] 2xl:pl-[25%] backdrop-blur-xl lg:py-6"
      id="navbar-dropdown"
    >
      <ul
        class="uppercase flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0"
      >
        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            aria-current="page"
          >
            <h5 class="font-extrabold text-[1.2rem] inline-block">01</h5>
            Home</a
          >
        </li>

        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            ><h5 class="font-extrabold text-[1.2rem] inline-block mx-2">02</h5>
            Services</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            ><h5 class="font-extrabold text-[1.2rem] inline-block mx-2">03</h5>
            Pricing</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            ><h5 class="font-extrabold text-[1.2rem] inline-block mx-2">04</h5>
            Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
