<nav class="text-whiteMoon font-barlow w-full h-full">
  <div
    class="flex flex-wrap items-center justify-between p-4 float-right lg:float-none overflow-y-hidden"
  >
    <button
      #buttonOpen
      (click)="openNavBar()"
      data-collapse-toggle="navbar-dropdown "
      type="button"
      class="inline-flex z-[100] items-center p-2 w-10 h-10 justify-center text-sm rounded-lg sm:hidden focus:outline-none focus:ring-2"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <!-- hamburguer menu -->
      <svg
        class="w-10 h-10 fill-whiteMoon z-50"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="blue"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="w-full sm:block sm:w-auto overflow-hidden" id="navbar-dropdown">
      <ul
        #navBarEl
        class="fixed ocultar border-none h-full gap-5 p-10 sm:gap-0 min-w-[70%] backdrop-blur-lg z-50 right-0 top-0 sm:w-auto sm:relative uppercase flex flex-col font-medium sm:p-0 sm:mt-4 border rounded-lg sm:flex-row sm:space-x-8 sm:border-0"
      >
        <!-- icon -->
        <svg
          (click)="closeNavBar()"
          class="relative self-end sm:hidden px-2 mt-4 hover:cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 384 512"
          fill="white"
        >
          <path
            d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"
          />
        </svg>
        <!-- final icon -->

        <li class="flex items-center">
          <h5
            class="font-extrabold text-[1.2rem] sm:hidden lg:inline-block text-whiteMoon"
          >
            01
          </h5>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded sm:border-0 font-semibold tracking-navText"
            aria-current="page"
            routerLink="/moon/principal"
          >
            Home</a
          >
        </li>

        <li class="flex items-center">
          <h5
            class="font-extrabold text-[1.2rem] sm:hidden lg:inline-block sm:mx-2"
          >
            02
          </h5>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            routerLink="/moon/destination"
          >
            Destination</a
          >
        </li>
        <li class="flex items-center">
          <h5
            class="font-extrabold text-[1.2rem] sm:hidden lg:inline-block sm:mx-2"
          >
            03
          </h5>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            routerLink="crew"
          >
            Crew</a
          >
        </li>
        <li class="flex items-center">
          <h5
            class="font-extrabold text-[1.2rem] sm:hidden lg:inline-block sm:mx-2"
          >
            04
          </h5>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            routerLink="/moon/technology"
          >
            Technology</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
