<nav class="text-whiteMoon font-barlow w-full">
  <div
    class="flex flex-wrap items-center justify-between p-4 float-right lg:float-none"
  >
    <button
      data-collapse-toggle="navbar-dropdown "
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg sm:hidden focus:outline-none focus:ring-2"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <!-- hamburguer menu -->
      <svg
        class="w-10 h-10 fill-whiteMoon"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="blue"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full sm:block sm:w-auto" id="navbar-dropdown">
      <ul
        class="uppercase flex flex-col font-medium p-4 sm:p-0 mt-4 border rounded-lg sm:flex-row sm:space-x-8 sm:mt-0 sm:border-0"
      >
        <li class="">
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded sm:border-0 font-semibold tracking-navText"
            aria-current="page"
            routerLink="/moon/principal"
          >
            <h5 class="font-extrabold text-[1.2rem] hidden lg:inline-block">
              01
            </h5>
            Home</a
          >
        </li>

        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            routerLink="/moon/destination"
            ><h5
              class="font-extrabold text-[1.2rem] hidden lg:inline-block mx-2"
            >
              02
            </h5>
            Destination</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            routerLink="crew"
            ><h5
              class="font-extrabold text-[1.2rem] hidden lg:inline-block mx-2"
            >
              03
            </h5>
            Crew</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 pl-3 pr-4 rounded md:border-0 font-semibold tracking-navText"
            routerLink="/moon/technology"
            ><h5
              class="font-extrabold text-[1.2rem] hidden lg:inline-block mx-2"
            >
              04
            </h5>
            Technology</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
