<div
  class="Home h-screen box-content flex flex-col lg:flex-row bg-cover text-whiteMoon"
  [ngStyle]="{ 'background-image': 'url(' + pathBackground + ')' }"
>
  <!-- logo container -->
  <!-- -->
  <div
    class="logo absolute top-3 sm:top-10 lg:top-0 sm:left-5 xl:left-0 lg:relative basis-[10rem] shrink-0 lg:p-8"
  >
    <a
      href="#"
      class="flex items-center h-[3rem] sm:h-[3-rem] w-[3rem] px-2 sm:px-0"
    >
      <img
        src="assets/shared/logo.svg"
        class="max-h-[2.3rem] sm:max-h-full"
        alt="logo"
      />
    </a>
  </div>

  <!--  nav and content-->
  <div class="grow flex flex-col sm:mt-4 overflow-x-hidden">
    <!-- header and button -->

    <!-- navHeader -->
    <header class="headerAndButton flex shrink">
      <div class="basis-[35%] hidden sm:flex flex-col">
        <div class="flex-1"></div>
        <div class="flex-1 border-t-2 border-whiteMoon/10"></div>
      </div>

      <!-- -->
      <div class="flex-1 sm:backdrop-blur-3xl h-[100%]">
        <app-nav-bar></app-nav-bar>
      </div>
    </header>

    <!-- text container-->

    <section class="grow 3xl:container">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
